{% extends "base.html" %}

{% block content %}

    {% if short_url %}
    <div class="row alert alert-success">
        The URL generated is: <a target="_blank" href="{{short_url}}">{{host}}/{{short_url}}</a>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <form action="{% url 'transform' %}" method="post">
                    {% csrf_token %}
                    <label for="large_url">Large URL:</label>
                    <input type="text" class="form-control" id="large_url" name="large_url">
                    <br>
                    <label for="desired_url">Desired URL:</label>
                    <input type="text" class="form-control" id="desired_url" name="desired_url">
                    <br>
                    <input type="submit" value="Transform the url" />
                </form>

            </div>
        </div>
    </div>

{% endblock %}
