{% extends "base.html" %}

{% block content %}

    <div class="row">
        <h2>
            Todas las urls que se transformaron:
        </h2>
    </div>

    <div>
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>large url</th>
                    <th>short url</th>
                    <th>count visited</th>
                    <th>created at</th>
                    <th>last accesed at</th>
                </tr>
            </thead>

            {% for result in results_clicks %}
            <tr>
                <th>{{result.large_url}}</th>
                <th><a target="_blank" href="{{result.short_url}}">{{host}}/{{result.short_url}}</a></th>
                <th>{{result.count}}</th>
                <th>{{result.created_at}}</th>
                <th>{% if result.count > 0%} {{result.updated_at}}{% endif %}</th>

            </tr>

            {% endfor %}

        </table>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            {% block main-content %}{% endblock %}
        </div>
        <div class="col-md-4 hidden-sm">
            {% block sidebar %}{% endblock %}
        </div>
    </div>

{% endblock %}
