{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>
            Shortener Service
        </h1>
        <p>
            Written by Tim Givois
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <form action="{% url 'transform' %}" method="post">
                    {% csrf_token %}
                    <label for="large_url">Url:</label>
                    <input type="text" class="form-control" id="large_url" name="large_url">
                    <input type="submit" value="Transform the url" />
                </form>

            </div>
        </div>
    </div>

    {% if short_url %}
    <div class="row">
        <p>{{ short_url }}</p>
    </div>
    {% endif %}

{% endblock %}
